<?xml version="1.0" encoding="utf-8" ?>
<ServerConfig>
  <Servers>
    <Server Name="DevelopmentServerName" Type="Web" Environment="Development" UserName="" Password="" Domain="" IP="">
      <Domains>
        <Domain>25.0.0.4:8026/</Domain>
      </Domains>
    </Server>
    <Server Name="StagingServerName" Type="Web" Environment="Staging" UserName="" Password="" Domain="" IP="">
      <Domains>
        <Domain>rahimka91-001-site1.itempurl.com</Domain>
      </Domains>
    </Server>
    <!--<Server Name="ProductionServerName" Type="Web" Environment="Production" UserName="" Password="" Domain="" IP="">
      <Domains>
        <Domain>www.xmlforasp.net</Domain>
        <Domain>xmlforasp.net</Domain>
      </Domains>
    </Server>
    <Server Name="ProxyServerName" Type="Proxy" Environment="Production" UserName="" Password="" Domain="" IP="">
      <Domains>
        <Domain>your.proxy.server</Domain>
      </Domains>
    </Server>
    <Server Name="MailServerName" Type="Mail" Environment="Production" UserName="" Password="" Domain="" IP="">
      <Domains>
        <Domain>your.smtp.server</Domain>
      </Domains>
    </Server>-->
  </Servers>
  <ConnectionStrings>
    <!--<ConnectionString Database="Northwind">
      <Primary>server=prodServerName;Integrated Security=SSPI;database=Northwind</Primary>
      <Secondary>server=secondaryProdServerName;Integrated Security=SSPI;database=Northwind</Secondary>
      <Staging>server=stagingServerName;Integrated Security=SSPI;database=Northwind</Staging>
      <Development>server=devServerName;Integrated Security=SSPI;database=Northwind</Development>
    </ConnectionString>-->
    <ConnectionString>
      <Staging>Data Source=sql5017.myasp.net;Initial Catalog=DB_A26DB3_ColAPP;User ID=DB_A26DB3_ColAPP_admin;Password=rifu@2017;Trusted_Connection=False;</Staging>
      <Development>Data Source=SYS-36;Initial Catalog=Col-App;User ID=sa;Password=admin@123;Trusted_Connection=False;</Development>
    </ConnectionString>
  </ConnectionStrings>
</ServerConfig>