<ion-view>
    <ion-nav-title> <span>Item Details</span> </ion-nav-title>
    <ion-content>
        <div class="list card">
            <div class="item item-body item-details-card">
                <!--<img class="full-image" src="{{item[0].thumbnailUrl}}">-->
                <pre-img ratio="" helper-class=""> <img ng-src="{{item[0].thumbnailUrl}}" spinner-on-load class="full-image item-detaiils-image"> </pre-img>
                <p>
                    {{item[0].title}}
                </p>
            </div>

        </div>
    </ion-content>
</ion-view>
